{% extends 'base.html'%}


{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    <div class="card mb-3">
        {{ forloop.counter }}
        <div class="card-header">
            Категория: <a href="{{ news_item.category.get_absolute_url }}"> {{ news_item.category.title }} </a>
        </div>
        <div class="media" style="display:flex">
            <div class="media-photo">
                {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" class="mr-3" width="350" alt="Photo">
                {% else %}
                <h6>Фото нет</h6>
                {% endif %}
            </div>
            <div class="media-body">
                <div class="card-body">
                    <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">
                        {{ news_item.title }}
                    </h5>
                    {% autoescape off %}
                    <p class="card-text">{{ news_item.content|truncatewords:60|linebreaks }}</p>
                    <a href="{{ news_item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                    {% endautoescape off %}
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>

{% endblock %}