<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
</head>
<body>
RootPage
<a href="home">
    <button>Go to Home Page</button>
</a>

<header>
    <h1>My Web Page</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>My notes</h1>
    <ul>
        <li>
            <a href="/card/1"><h2>Day 1</h2>
                <p>Lesson 1</p></a>
        </li>
        <li>
            <a href="/card/2"><h2>Day 2</h2>
                <p>Lesson 2</p></a>
        </li>
        <li>
            <a href="/card/3"><h2>Day 3</h2>
                <p>Lesson 3</p></a>
        </li>
        <li>
            <a href="/create_card"><h2>Create card</h2></a>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; 2023 My Web Page</p>
</footer>
</body>


</html>